[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2 = "*"
passlib = "*"
bcrypt = "*"
pydantic = {extras = ["dotenv"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
